@import "../../../styles/theme.module";

@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

.select {
    position: relative;
    user-select: none;
    width: 100%;

    .container {
        position: relative;
        display: flex;
        flex-direction: column;

        .placeholderWrapper {
            .placeholder {
                div {
                    position: relative;
                    display: flex;
                    align-items: center;
                    padding: 4px 10px;
                    font-size: 14px;
                    font-weight: 500;
                    color: themed('luny-text', 100);
                    height: auto;
                    min-height: 40px;
                    line-height: 50%;
                    background: var(--luny-background);
                    cursor: pointer;
                    border-radius: 10px;
                    flex-wrap: wrap;

                    &:after {
                        content: "";
                        position: absolute;
                        top: 50%;
                        right: 10px;
                        transform: translateY(-50%);
                        width: 0;
                        height: 0;
                        border-left: 7px solid transparent;
                        border-right: 7px solid transparent;
                        border-top: 7px solid themed('luny-band', 100);
                        animation: rotate 0.2s ease;
                    }
                }

                .option {
                    background-color: var(--luny-background);
                    color: themed('luny-text', 100);
                    padding: 0 4px;
                    border-radius: 6px;
                    border: 1px solid themed('luny-ui', 15);
                    font-size: 12px;
                    font-weight: 500;
                    cursor: pointer;
                    transition: all 0.2s;
                    line-height: 25px;
                    height: 25px;
                    margin-bottom: 5px;
                    margin-right: 5px;
                    margin-top: 5px;
                }
            }
        }

        .options {
            display: none;
            position: absolute;
            top: 100%;
            left: 10px;
            margin-top: 10px;
            width: calc(100% - 20px);
            flex-direction: column;
            background-color: var(--luny-background);
            border: 1px solid themed('luny-ui', 15);
            border-radius: 6px;
            z-index: 1;
            overflow-y: auto;
            overflow-x: hidden;
            max-height: 300px;
            padding: 4px;

            .option {
                color: themed('luny-text', 100);
                padding: 0 5px;
                border-radius: 6px;
                font-size: 15px;
                font-weight: 500;
                cursor: pointer;
                line-height: 30px;
                height: 30px;

                img {
                    height: 30px;
                    width: 30px;
                    border-radius: 50%;
                    margin-right: 10px;
                }

                span {
                    top: 5px;
                    color: themed('luny-text', 60);
                    font-size: 12px;
                    height: 30px;
                }

                &[data-selected] {
                    background-color: themed('luny-ui', 10);
                }

                &:hover {
                    background-color: themed('luny-ui', 15);
                }
            }

            &::-webkit-scrollbar-track {
                background: transparent;
                height: calc(100% - 10px);
                margin-top: 5px;
                margin-bottom: 5px;
            }
        }
    }

    &[data-opened] {
        .container {
            .placeholderWrapper {
                border-color: themed('luny-band', 100);

                .placeholder {
                    div:after {
                        transform: translateY(-50%) rotate(180deg);
                        transition: transform 0.2s ease-in-out;
                    }
                }
            }

            .options {
                display: block;
            }
        }
    }

    &[data-full-values] {
        .container {
            .options {
                pointer-events: none;
                opacity: 0.5;
                cursor: not-allowed;
            }
        }
    }
}

@keyframes rotate {
    from {
        transform: translateY(50%) rotate(0deg);
    }

    to {
        transform: translateY(-50%) rotate(180deg);
    }
}