@import "theme.module";

@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

.button {
    border: none;
    border-radius: 7px;
    cursor: pointer;
    background-color: themed('luny-band');
    color: white;
    padding: 10px;
    transition: all ease .3s;

    span {
        font-size: 17px;

        &:is(.icon) {
            margin-right: 5px;
        }
    }

    &:hover {
        background-color: themed('luny-band', 80);
    }

    &:disabled {
        background-color: themed('luny-band', 20);
    }
}