@import "theme.module";

@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    // font-family: 'Poppins', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    //     Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html,
body {
    padding: 0;
    margin: 0;
    background: linear-gradient(90deg, var(--luny-background) 21px, transparent 1%) 50%, linear-gradient(var(--luny-background) 21px,transparent 1%) 50%, #333;
    background-size: 22px 22px;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 5px;
}
        
::-webkit-scrollbar-track {
    background: var(--luny-colors-flow-80);
    box-shadow: inset 0 0 6px var(--luny-colors-flow-20);
}

::-webkit-scrollbar-thumb {
    background-color: var(--luny-colors-band-100);
    border-radius: 0.5em;
}

a {
    color: inherit;
    text-decoration: none;

    &:hover {
        color: #000000a2
    }
}

p {
    &[data-size="xs"] {
        font-size: 0.75rem;
    }

    &[data-size="sm"] {
        font-size: 0.875rem;
    }

    &[data-size="md"] {
        font-size: 1rem;
    }

    &[data-size="lg"] {
        font-size: 1.125rem;
    }
}

.backgroundGradient {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 900px;
    background: linear-gradient(175deg, themed('luny-band', 15), transparent, transparent);
    z-index: -1;
}

/*
--fontSizes-xxs: 0.625rem;
--fontSizes-xs: 0.75rem;
--fontSizes-sm: 0.875rem;
--fontSizes-md: 1rem;
--fontSizes-lg: 1.125rem;
--fontSizes-xl: 1.25rem;
--fontSizes-2xl: 1.5rem;
*/