/* Permissions Page */

.add-button {
    background-color: var(--luny-colors-green);
    border: none;
    color: var(--luny-colors-text-100);
    padding: 8px 10px;
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    width: 10%;
    min-width: 80px;
    height: 35px;
    margin-left: auto;
}

.add-button i {
    font-size: 16px;
}

.add-button.disabled {
    background: var(--luny-colors-ui-60);
}

.delete-button {
    background-color: var(--luny-colors-red);
    border: none;
    color: var(--luny-colors-text-100);
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    width: 10%;
    height: 35px;
    margin-left: 3%;
}

.toggles-container {
    display: grid;
    grid-template-columns: repeat(5, 0.5fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color: var(--luny-colors-background);
    border-radius: 10px;
}

.toggles-container div.item { 
    margin: 15px;
}

.toggles-container div.item span {
    margin-bottom: 10px;
}

.cardLog {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 99999;
}

.cardLog .box {
    min-width: 50%;
    min-height: 50%;
    background-color: rgb(36, 36, 36);
    border-radius: 15px;
    padding: 15px;
    box-shadow: 8px 5px 5px 2px rgba(117, 112, 112, 0.2);
    color: white;
    position: absolute;
    top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.cardLog .line {
    width: 100%;
    height: 1px;
    border: 1px solid white;
}

.cardLog .grid {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10px;
}

.cardLog .item {
    margin: 10px;
}

.cardLog .Text1 {
    font-size: 18px;
}

.cardLog .Text2 {
    font-size: 16px;
}

.cardLog .reason {
    margin-left: 50px;
}

.cardLog .reasonText {
    margin-left: 10px;
}

.cardLog .user {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
}

.cardLog .user img {
    width: 64px;
    border-radius: 100%;
    margin: 10px;
}

@media screen and (max-width: 700px) {
    .toggles-container {
        grid-template-columns: repeat(3, 0.5fr);
    }
}

/* Modlogs */

.scr {
    overflow-x: auto;
    width: 100%;
    height: 100%;
}

.scr::-webkit-scrollbar {
    width: 0.5em;
    height: 5px;
}
  
.scr::-webkit-scrollbar-track {
    background: var(--luny-colors-flow-80);
    box-shadow: inset 0 0 6px var(--luny-colors-flow-20);
    border-radius: 10px;
}

.scr::-webkit-scrollbar-thumb {
    background-color: var(--luny-colors-band-100);
    border-radius: 10px;
}

.cards-log {
    width: 900px;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    box-shadow: 0 0 20px var(--luny-colors-band-5);
}

.cards-log thead tr {
    background-color: var(--luny-colors-flow-60);
    text-align: left;
    border-radius: 10px;
}

.cards-log tbody {
    overflow-x: scroll;
    background-color: var(--luny-colors-band-15);
}

.cards-log th,
.cards-log td {
    padding: 12px 15px;
    overflow-wrap: break-word;
    word-break: break-all;
    font-weight: 700;
    color: var(--luny-colors-text-60);
}

.cards-log tbody tr {
    cursor: pointer;
    border-bottom: 1px solid var(--luny-colors-band-20);
}

.cards-log td.punishment span {
    min-width: 46px;
    width: 46px;
    padding: 5px; 
    border-radius: 5px;
    color: var(--luny-colors-flow-100);
}

.cards-log td.user img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    float: left;
    margin-right: 13px;
}

.cards-log td.user p {
    margin-top: 6px;
}

.cards-log td.user p span {
    font-weight: 500;
}
