.guildCard {
    position: relative;
    margin: 20px 10px 20px 10px;
    padding: 24px;
    width: 400px;
    height: 250px;
    background-color: var(--luny-colors-ui-5);
    border: 1px solid var(--luny-colors-ui-15);
    border-radius: 14px;
}

.guildCard .guildImage {
    position: relative;
    width: 100%;
    max-width: 100%;
    height: 120px;
    max-height: 120px;
    margin-bottom: 5px;
}

.guildImage .blur {
    position: absolute;
    width: 108%;
    height: 100%;
    top: -15px;
    left: -15px;
    opacity: 50%;
    z-index: 1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(9px);
    -webkit-filter: blur(9px);
}

.guildImage img {
    position: absolute;
    z-index: 2;
    /* border: 2px solid white; */
    border-radius: 100%;
    top: 25px;
	left: 50%;
    width: 132px;
    height: 132px;
	transform: translate(-50%, -50%);
}

.guildImage .firstIcon {
    position: absolute;
    z-index: 2;
    top: -15px;
    left: -10px;
    font-size: 20px;
    background: -webkit-gradient(linear, left top, left bottom, from(var(--luny-colors-text-100)), to(var(--luny-colors-text-60)));
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

.guildImage .secondIcon {
    position: absolute;
    z-index: 2;
    top: -15px;
    right: -10px;
    font-size: 20px;
    background: -webkit-gradient(linear, left top, left bottom, from(var(--luny-colors-text-100)), to(var(--luny-colors-text-60)));
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

.guildCard .infos {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.guildCard .infos h3 {
    font-size: 1.1em;
    font-weight: 600;
    color: var(--luny-colors-text-100);
    max-width: 100%;
    margin-bottom: 20px;
    max-height: 25px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.guildCard .infos .btnGrid { 
    margin-top: 5px;
    flex-direction: row; 
}

.guildCard .infos a {
    margin: 10px;
    background: var(--luny-colors-band-100);
    background-size: 800% 400%;
    color: var(--luny-colors-text-100);
    font-size: 17px;
    font-weight: 500;
    padding: 10px;
    border-radius: 10px;
    animation: gradient 10s infinite cubic-bezier(.62, .28, .23, .99) both;
    transition: 0.5s;
}

.guildCard .infos a:hover {
    animation: gradient 3s infinite;
    transform: scale(1.05);
    transition: 0.5s;
}

.guildCard .infos a:active {
    animation: gradient 3s infinite;
    transform: scale(0.8);
    transition: 0.5s;
}

@media screen and (max-width: 980px) {
    .guildCard {
        width: 100%;
        /* height: auto;
        margin: 0;
        padding: 0;
        border: none;
        border-radius: 0; */
    }

    .guildCard .guildImage {
        width: 100%;
        max-width: 100%;
        /* height: auto;
        max-height: auto;
        margin-bottom: 0; */
    }

}