@import "theme.module";

@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

.togglesBoxWrapper {
    justify-content: center;
    flex-wrap: wrap;
    background-position: center;
    display: flex;

    .toggleBox {
        width: 49%;
        background-color: none;
        padding: 10px 20px;
        display: inline-block;
        margin: 10px auto;
        background-color: var(--luny-background);
        border-radius: 10px;
        border: 1px solid themed('luny-ui', 10);
        color: white;

        .checkedIcon {
            display: none;
            float: right;
            vertical-align: middle;
            margin: auto;
            margin-right: -22.5px;
            margin-top: -12.5px;
            padding: 3px;
            border-radius: 15px;
            background-color: themed('luny-band');
            color: white;
        }
    }

    .toggleBox[data-checked] {
        border: 2px solid themed('luny-band', 100);
        padding: 9px 19px;

        .checkedIcon {
            display: flex;
        }
    }
}

.newItemButton {
    background-color: themed('luny-ui', 20);
    font-weight: 100;

    &:hover {
        background-color: themed('luny-ui', 40);
    }

    &:disabled {
        background-color: themed('luny-ui', 5);
    }
}