/* Permissions Page */

.add-button {
    background-color: var(--luny-colors-green);
    border: none;
    color: var(--luny-colors-text-100);
    padding: 8px 10px;
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    width: 10%;
    min-width: 80px;
    height: 35px;
    margin-left: auto;
}

.add-button i {
    font-size: 16px;
}

.add-button.disabled {
    background: var(--luny-colors-ui-60);
}

.delete-button {
    background-color: var(--luny-colors-red);
    border: none;
    color: var(--luny-colors-text-100);
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    width: 10%;
    height: 35px;
    margin-left: 3%;
}

.toggles-container {
    display: grid;
    grid-template-columns: repeat(5, 0.5fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color: var(--luny-colors-background);
    border-radius: 10px;
}

.toggles-container div.item { 
    margin: 15px;
}

.toggles-container div.item span {
    margin-bottom: 10px;
}

@media screen and (max-width: 700px) {
    .toggles-container {
        grid-template-columns: repeat(3, 0.5fr);
    }
}

/* Cardlog */
.modal-wrapper {
    display: flex; 
	position: fixed;
    background: var(--luny-colors-flow-80);
    z-index: 100;
    width: 100%;
    height: 100%;
	left: 0;
	top: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: .75s;
	pointer-events: unset;
    backdrop-filter: blur(10px);
}

.modal-wrapper .modal-log {
    width: 500px;
    height: auto;
    min-height: 300px;
    background: var(--luny-colors-background);
    border-radius: 10px;
    border: 1px solid var(--luny-colors-ui-20);
    box-shadow: 0 0 20px var(--luny-colors-band-20);
    transition: .75s;
    padding: 25px;
    flex-direction: unset;
    justify-content: left;
    align-items: flex-start;
    text-align: left;
}

.modal-wrapper .modal-log .user {
    display: flex;
    width: 100%;
    height: 50px;
    position: relative;
}

.modal-wrapper .modal-log .user img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    float: left;
    margin-right: 13px;
    margin-top: -10px;
}

.modal-wrapper .modal-log .user h3 {
    margin: 0;
    padding: 0;
    font-size: 1.5em;
    font-weight: 700;
    color: var(--luny-colors-text-100);
}

.modal-wrapper .modal-log .user h3 span {
    font-weight: 500;
    color: var(--luny-colors-text-60);
}

.modal-wrapper .modal-log .user .punishment {
    position: absolute;
    min-width: 46px;
    width: 46px;
    height: 22px;
    font-size: 16px; 
    font-weight: 700;
    border-radius: 5px;
    padding: 1px 7px;
    margin-left: 10px;
    color: var(--luny-colors-text-100);
}

.modal-wrapper .modal-log .line {
    width: 100%;
    height: 1px;
    border: 1px solid var(--luny-colors-ui-40);
}

.modal-wrapper .modal-log .grid {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10px;
    color: var(--luny-colors-text-100);
}

.modal-wrapper .modal-log .item {
    margin: 10px;
}

.modal-wrapper .modal-log h4 {
    font-size: 18px;
    color: var(--luny-colors-text-100);
}

.modal-wrapper .modal-log p {
    margin-top: 2px;
    font-size: 16px;
    color: var(--luny-colors-text-60);
    font-weight: 500;
}

.modal-wrapper.hiding {
    transition: 0.5s;
    animation: hiding 0.5s ease-in-out 1;
}

@keyframes hiding {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


/* Modlogs */

.scr {
    overflow-x: auto;
    width: 100%;
    height: 100%;
}

.scr::-webkit-scrollbar {
    width: 0.5em;
    height: 5px;
}
  
.scr::-webkit-scrollbar-track {
    background: var(--luny-colors-flow-80);
    box-shadow: inset 0 0 6px var(--luny-colors-flow-20);
    border-radius: 10px;
}

.scr::-webkit-scrollbar-thumb {
    background-color: var(--luny-colors-band-100);
    border-radius: 10px;
}

.cards-log {
    width: 900px;
    border-collapse: collapse;
    margin: 0;
    font-size: 0.9em;
    font-family: sans-serif;
    box-shadow: 0 0 20px var(--luny-colors-band-5);
}

.cards-log th,
.cards-log td {
    padding: 12px 15px;
    overflow-wrap: break-word;
    word-break: break-all;
    font-weight: 700;
    color: var(--luny-colors-text-60);
}

.cards-log thead tr th {
    background-color: var(--luny-colors-ui-5);
    color: var(--luny-colors-text-100);
    text-align: left;
}

.cards-log thead tr th:first-child {
    border-top-left-radius: 10px;
}

.cards-log thead tr th:last-child {
    border-top-right-radius: 10px;
}

.cards-log tbody {
    overflow-x: scroll;
    background-color: var(--luny-colors-band-15);
}

.cards-log tbody tr {
    cursor: pointer;
    border-bottom: 1px solid var(--luny-colors-ui-15);
}

.cards-log td.punishment span {
    min-width: 46px;
    width: 46px;
    padding: 5px; 
    border-radius: 5px;
    color: var(--luny-colors-flow-100);
}

.cards-log td.user img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    float: left;
    margin-right: 13px;
}

.cards-log td.user p {
    margin-top: 6px;
}

.cards-log td.user p span {
    font-weight: 500;
}