.guild-card {
    position: relative;
    margin: 0px 10px 20px 10px;
    padding: 24px;
    width: 275px;
    height: 300px;
    background-color: var(--luny-colors-ui-5);
    border: 1px solid var(--luny-colors-ui-15);
    border-radius: 14px;
}

.guild-card .guildImage {
    position: relative;
    width: 225px;
    max-width: 225px;
    height: 150px;
    max-height: 150px;
    margin-bottom: 16px;
}

.guildImage .blur {
    width: 100%;
    height: 100%;
    z-index: 1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(9px);
    -webkit-filter: blur(9px);
}

.guildImage img {
    position: absolute;
    z-index: 2;
    border: 2px solid white;
    border-radius: 15px;
    top: 50%;
	left: 50%;
    width: 132px;
    height: 132px;
	transform: translate(-50%, -50%);
}

.guild-card .infos {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.guild-card .infos h3 {
    font-size: 1.1em;
    font-weight: 600;
    color: var(--luny-colors-text-100);
    max-width: 95%;
    margin-bottom: 15px;
    max-height: 25px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.guild-card .infos a {
    background: var(--luny-colors-band-100);
    background-size: 800% 400%;
    color: var(--luny-colors-text-100);
    font-size: 17px;
    font-weight: 500;
    padding: 10px;
    border-radius: 10px;
    animation: gradient 10s infinite cubic-bezier(.62, .28, .23, .99) both;
    transition: 0.5s;
}

.guild-card .infos a:hover {
    animation: gradient 3s infinite;
    transform: scale(1.05);
    transition: 0.5s;
}

.guild-card .infos a:active {
    animation: gradient 3s infinite;
    transform: scale(0.8);
    transition: 0.5s;
}

@media screen and (max-width: 980px) {
    .guild-card {
        width: 100%;
        /* height: auto;
        margin: 0;
        padding: 0;
        border: none;
        border-radius: 0; */
    }

    .guild-card .guildImage {
        width: 100%;
        max-width: 100%;
        /* height: auto;
        max-height: auto;
        margin-bottom: 0; */
    }

}