/* Header */
.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    transition-duration: 0.5s;
    height: 80px;
    position: fixed;
    background-color: var(--luny-colors-overlay);
    backdrop-filter: blur(5px);
    z-index: 1000;
	top: 0;
    width: 100%;
    opacity: 1;
}

.header .links {
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    top: 0;
    left: 11%;
    right: 0;
    margin: auto;
}

.header .links .link {
    display: inline-block;
    color: var(--luny-colors-text-100);
    margin-right: 20px;
    font-weight: 600;
    font-size: 18px;
    transition-duration: 0.5s;
}

.header.onTop .links .link{
    /* text-decoration: underline; */
    color: var(--luny-colors-text-100);
    border-bottom: 2px solid var(--luny-colors-text-80);
}

.header .links .link:hover {
    color: var(--luny-colors-text-80);
}

.header .icon {
    width: 52px;
    height: 52px;
    /* margin-right: 10px; */
    transition: border 0.5s;
    pointer-events: none;
}

.header svg.icon path {
    fill: var(--luny-colors-icon);
}

.header.onTop {
    background-color: transparent;
}

.header.onTop .header-wrapper {
    opacity: 1;
    filter: none;
}

.header .CtaLogin {
    margin-left: 10px;
    font-family: cursive, sans-serif;
    font-weight: 500;
    background-color: var(--luny-colors-text-100);
    color: var(--luny-colors-flow-80);
    text-decoration: none;
    padding: 9px 25px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.header .CtaLogin:hover {
    background-color: var(--luny-colors-flow-80);
    color: var(--luny-colors-text-100);
}

.header.onTop .CtaLogin {
    background-color: var(--luny-colors-flow-80);
    color: var(--luny-colors-text-100);
}

.header.onTop .CtaLogin:hover {
    color: var(--luny-colors-flow-80);
    background-color: var(--luny-colors-text-100);
}

.header .CtaLogin:hover {
    color: var(--luny-colors-text-100);
    background-color: var(--luny-colors-band-100);
}

.header .avatar {
    margin-left: auto;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.header .avatar img {
    margin-right: -70px;
    border-radius: 50%;
    width: 10%;
    min-width: 60px;
    opacity: 70%;
    border: 2px solid #00000000;
    transition: border 0.5s;
}

.header.onTop .avatar img {
    opacity: 1;
}

.header .avatar:hover img {
    opacity: 1;
    border: 2px solid var(--luny-colors-band-100);
    transition: border 0.5s;
}

.header .avatar .user-menu-wrapper {
    position: relative;
    user-select: none;
}

.header .avatar .user-menu-wrapper .user-menu {
    position: relative;
    display: flex;
    flex-direction: column;
    border-width: 0 0 0 0;
    border-style: solid;
}

.header .avatar.openMenu .user-menu-wrapper .user-menu .user-menu-options {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}

.header .avatar .user-menu-wrapper .user-menu .user-menu-options {
    position: absolute;
    margin-top: 33px;
    top: 100%;
    left: -105px;
    width: 180px;
    background-color: var(--luny-colors-background);
    border-radius: 10px;
    padding: 10px;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 0.3s ease 0s;
    color: var(--luny-colors-text-60);
    border: 1px solid var(--luny-colors-ui-15);
}

.header .avatar .user-menu-wrapper .user-menu .user-menu-options div {
    margin-top: 9px;
    font-weight: 500;
    color: var(--luny-colors-text-60);
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-size: 18px;
}

.header .avatar .user-menu-wrapper .user-menu .user-menu-options div:hover {
    margin-left: 10px;
}

.header .avatar .user-menu-wrapper .user-menu .user-menu-options i {
    color: #A020F0;
    margin-right: 5px;
}

.header .avatar .user-menu-wrapper .user-menu .user-menu-options div.selectTheme:hover,
.header .avatar .user-menu-wrapper .user-menu .user-menu-options div.selectTheme:hover div input {
    margin-left: 0;
}

@media screen and (max-width: 475px) {
    .header .links .link {
        font-size: 16px;
    }
}

@media screen and (max-width: 420px) {
    .header .links .link {
        font-size: 14px;
    }

    .header .avatar {
        width: 30px;
        min-width: none;
        margin-right: 25px;
    }

    .header .CtaLogin {
        font-size: 12px;
    }

    .header .avatar img {
        width: 52px;
        min-width: 32px;
        margin-left: 10px;
    }
}

@media screen and (max-width: 360px) {
    .header .links .link {
        font-size: 12px;
    }

    .header .avatar img {
        margin-left: 15px;
    }
}