/* Content */

.left-column {
    width: 25%;
    z-index: 1;
    padding: 10px;
    position: absolute;
	left: 0;
    top: 0;
    margin-top: 160px;
    height: calc(100% - 160px);
    transition-property: left;
    display: block;
}

.left-column .menu {
    padding: 24px;
    width: 96%;
    height: auto;
    background-color: var(--luny-colors-ui-5);
    border: 1px solid var(--luny-colors-ui-15);
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.left-column .infoCard .title {
    font-size: 20px;
    font-weight: 500;
    color: white;
}

.left-column .infoCard .desc {
    font-size: 15px;
    font-weight: 500;
    color: white;
}

.left-column .infoCard .button {
    background-color: white;
    padding: 5px;
    margin-top: 10px;
    border-radius: 5px;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    color: black;
    transition: 0.5s;
}

.left-column .infoCard .button:hover {
    background-color: #eee;
    cursor: pointer;
    transition: 0.5s;
}

.left-column .menu .user {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-bottom: 24px;
}

.left-column .menu .user .avatar {
    border-radius: 50%;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    position: relative;
    flex-shrink: 0;
    background: transparent;
    color: var(luny-colors-flow-40);
    border-color: var(luny-colors-flow-40);
    vertical-align: top;
    width: 64px;
    height: 64px;
    font-size: calc(1.2rem);
}

.left-column .menu .user .avatar > img {
    width: 64px;
    border-radius: 50%;
    transition: box-shadow 0.2s ease 0s;
}

.left-column .menu .user .avatar > div {
    text-align: center;
    border-radius: 100%;
    width: 64px;
    height: 64px;
    background-color: var(--luny-colors-band-80);
	overflow: hidden;
	text-overflow: ellipsis;
    line-height: 64px;
    color: var(--luny-colors-text-100)
}

.left-column .menu .user .username {
    margin-top: 0;
    -webkit-margin-end: 0;
    margin-inline-end: 0;
    margin-bottom: 0;
    -webkit-margin-start: 16px;
    margin-inline-start: 16px;
}

.left-column .menu .user .username p {
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0;
    color: var(--luny-colors-text-100);
}

.left-column .menu p.stack {
    font-size: 14px;
    font-weight: 300;
    /* line-height: 32px; */
    letter-spacing: 0;
    margin-bottom: 5px;
    color: var(--luny-colors-text-100);
}

.left-column .menu .border {
    border-left: 3px solid var(--luny-colors-ui-20);
    border-radius: 3px;
    /* margin-left: 5px; */
}

.left-column .menu .link {
    color: var(--luny-colors-text-60);
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    border-radius: 10px;
    padding: 5px 13px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-size: 16px;
    font-weight: 300;
}

.left-column .menu .link i {
    margin-right: 5px;
    color: var(--luny-colors-band-100)
}

.left-column .menu .link:hover {
    color: var(--luny-colors-text-80);
    margin-left: 10px;
}

.content {
    display: flex;
    /* justify-content: center; */
    flex-wrap: wrap;
    margin-bottom: 100px;
    padding: 10px 20px;
    margin-left: 25%;
    background-position: center;
    background-size: cover;
    height: auto;
    transition: 0.5s;
    margin-top: 160px;
}

.content code {
	color: var(--luny-colors-band-100);
	background: var(--luny-colors-flow-80);
	border-radius: 3px;
    padding: 1.3px;
}

.content .small-card {
    margin: 10px;
    padding: 24px;
    width: 45%;
    height: auto;
    background-color: var(--luny-colors-ui-5);
    border: 1px solid var(--luny-colors-ui-15);
    color: var(--luny-colors-text-60);
    border-radius: 14px;
}

.content .card {
    margin: 10px;
    padding: 24px;
    width: 92%;
    height: auto;
    background-color: var(--luny-colors-ui-5);
    border: 1px solid var(--luny-colors-ui-15);
    color: var(--luny-colors-text-60);
    border-radius: 14px;
}

.content .guilds .small-card {
    margin: 10px;
    padding: 24px;
    width: 22%;
    height: auto;
    background-color: var(--luny-colors-ui-5);
    border: 1px solid var(--luny-colors-ui-15);
    border-radius: 14px;
}

@media screen and (max-width: 980px) {
    .left-column {
        width: 100%;
        position: relative;
    }
    
    .content {
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        width: 100%;
        padding: 10px;
    }

    .content .card, 
    .content .small-card {
        width: 100%;
    }
}