header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 7px 20px;
    background-color: #24252a;
    transition-duration: 0.5s;
    height: 80px;
    position: fixed;
    width: 100%;
    z-index: 1;
	top: 0;
}

header .icon {
    width: 4%;
    margin-right: 10px;
    transition: border 0.5s;
    pointer-events: none;
    filter: grayscale(100%);
}

/* 
================================================================================
                                Cta's
================================================================================
*/
header .Cta {
    margin-left: 10px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #edf0f1;
    text-decoration: none;
    padding: 9px 25px;
    background-color: #141414;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

header .Cta img {
    width: 15px;
}

header .CtaMenu {
    display: none;
    margin-left: 10px;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #edf0f1;
    text-decoration: none;
    padding: 9px 25px;
    background-color: #141414;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

header .CtaMenu i,
header .Cta i {
    margin-right: 5px;
}

header .CtaMenu:hover,
header .Cta:hover {
    color: #141414;
    background-color: #edf0f1;
}

/* 
================================================================================
                                Avatar
================================================================================
*/

header .avatar .user-menu-wrapper {
    position: relative;
    user-select: none;
}

header .avatar .user-menu-wrapper .user-menu {
    position: relative;
    display: flex;
    flex-direction: column;
    border-width: 0 0 0 0;
    border-style: solid;
}

header .avatar:hover .user-menu-wrapper .user-menu .user-menu-options {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}

header .avatar .user-menu-wrapper .user-menu .user-menu-options {
    position: absolute;
    margin-top: 30px;
    top: 100%;
    left: -105px;
    width: 180px;
    background-color: #151516;
    border-radius: 10px;
    padding: 10px;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 0.3s ease 0s;
    color: #edf0f1;
}

header .avatar .user-menu-wrapper .user-menu .user-menu-options div {
    margin-top: 9px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #edf0f1;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-size: 18px;
}

header .avatar .user-menu-wrapper .user-menu .user-menu-options div:hover {
    margin-left: 10px;
}

header .avatar .user-menu-wrapper .user-menu .user-menu-options i {
    color: #A020F0;
    margin-right: 5px;
}

header .avatar {
    margin-left: auto;
    display: flex;
    align-items: center;
    cursor: pointer;
}

header .avatar img {
    margin-right: -70px;
    border-radius: 50%;
    width: 10%;
    min-width: 60px;
    opacity: 50%;
    border: 2px solid #00000000;
    transition: border 0.5s;
}

header .avatar img:hover {
    opacity: 100%;
    border: 2px solid #A020F0;
    transition: border 0.5s;
}

header .avatar h1 {
    font-size: 18px;
    color: #cfcfcf;
    margin-right: 10px;
    max-width: 140px;
    overflow: hidden;
    text-overflow: ellipsis; 
}

header .avatar span {
    font-size: 0.8em;
    font-weight: 500;
    color: #9e9e9e;
}

/*
================================================================================
                                Responsive
================================================================================
*/

@media screen and (max-width: 980px) {
    header .avatar span, 
    header .avatar h1 {
        display: none;
    }

    header .CtaMenu {
        display: flex;
    }

    header .Cta {
        display: none;
    }

    header #CtaLogin {
        display: none;
    }

    header .CtaInvite {
        display: flex;
    }
}

@media screen and (max-width: 400px) {
    header .CtaMenu {
        font-size: 14px;
    }

    header .CtaInvite {
        font-size: 14px;
    }
}

@media screen and (max-width: 385px) {
    header .CtaMenu {
        font-size: 12px;
    }

    header .CtaInvite {
        font-size: 12px;
    }
}