.pagination-bar {
    display: flex;
    margin-top: 20px;
    margin-right: auto;
}

.pagination-bar .dot {
    margin-right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: var(--luny-colors-band-100);
    text-align: center;
    line-height: 40px;
    font-size: 15px;
    font-weight: 700;
    color: var(--luny-colors-text-100);
    cursor: pointer;
}

.pagination-bar .dot.selected {
    background-color: var(--luny-colors-ui-15);
    cursor: default;
}