.select-wrapper {
    position: relative;
    width: calc(170px + 5px);
}

.select {
    border-radius: 7px;
    background-color: #0E0F12;
}

.select__trigger {
    align-items: center;
    font-weight: 600;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
    height: 24px;
    width: calc(170px + 5px);
    max-height: 24px;
    white-space: nowrap;
    overflow: hidden;
    padding-left: 3%;
    padding-right: auto;
    padding-bottom: 3%;
}

.select__trigger span {
    white-space: nowrap;
    overflow: hidden;
}


.select-menu-search {
    position: absolute;
    top: -135%;
    display: block;
    font-size: 14px;
    color: #fff;
    height: 32px;
    white-space: nowrap;
    overflow: hidden;
    opacity: 0;
    pointer-events: none;
    z-index: 1;
    background: #090a0e;
    width: 175px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.select-menu-search .icon {
    margin-right: 1px;
    margin-left: 2px;
    color: #fff
}

.select-menu-search input {
    background-color: #090a0e;
    cursor: pointer;
    border: none transparent;
    padding-left: 10px;
    width: 157px;
    height: 32px;
    color: #fff;
}

.select-menu-search input:focus {
    outline: none;
}

.custom-options {
    overflow-y: scroll;
    position: absolute;
    display: block;
    top: 0%;
    left: 0;
    right: 0;
    background: #0E0F12;
    opacity: 0;
    pointer-events: none;
    z-index: 1;
    height: 160px;
    width: 175px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.custom-options::-webkit-scrollbar{
    width: 0.1vh;
}
  
.custom-options::-webkit-scrollbar-track{
    background: rgba(15, 16, 19, 0);
    border-radius: 10px;
}

.custom-options::-webkit-scrollbar-thumb{
    background-color: #A020F0;
    width: 10px;
}

.select.open .select-menu-search {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    animation: drop2 0.3s ease-in-out 1; 
}

.select.open .custom-options {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    animation: drop 0.3s ease-in-out 1; 
}

.custom-option {
    position: relative;
    display: block;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    height: 24px;
    white-space: nowrap;
    overflow: hidden;
    padding-left: 3%;
    transition: 0.3s;
    color: #fff;
    /* text-shadow: black 1px -1px, black -1px 1px, black 1px 1px, black -1px -1px; */
}

.custom-option.selected:hover,
.custom-option:hover {
    cursor: pointer;
    background-color: rgba(178, 178, 178, 0.541);
}

.custom-option.selected {
    color: #ffffff;
    background-color: #a955dda6;
}

@keyframes drop {
    0% {
        height: 24px;
    }
    50% {
        height: 114px;
    }
    100% {
        height: 160px;
    }
}

@keyframes drop2 {
    0% {
        transform: translatey(20px);
    }
    50% {
        transform: translatey(10px);
    }
    100% {
        transform: translatey(0px);
    }
}