.sidebar {
    width: 20%;
    height: 100vh;
    z-index: 10;
    position: absolute;
    padding: 10px;
    background-color: #24252a;
    color: black;
    border-right: 2px solid #333;
    box-shadow: 20px 0px 0px 3px rgba(0, 0, 0, 0.082);
}