.sidebar {
    width: 21%;
    z-index: 1;
    padding: 10px;
    background-color: #24252a;
    color: black;
    position: fixed;
	left: 0;
    top: 0;
    margin-top: 80px;
    height: 100%;
    transition-property: left;
    display: block;
}

.content {
    margin-bottom: 100px;
    padding: 20px;
    margin-left: 21%;
    background-position: center;
    background-size: cover;
    height: auto;
    transition: 0.5s;
    margin-top: 80px;
}



@media screen and (max-width: 980px) {
    .sidebar {
        width: 0;
        height: 100vh;
        z-index: 10;
        position: fixed;
        padding: none;
        background-color: #24252a;
        color: black;
        border-right: 2px solid #333;
        box-shadow: 20px 0px 0px 3px rgba(0, 0, 0, 0.082);
        transition: 0.5s;
        left: -100%;
    }

    .sidebar.open {
        width: 100%;
        transition: 0.5s;
        left: 0;
    }

    .content {
		margin-left: 0;
		margin-top: 80px;
		padding: 20px;
    }
}

.sidebar::-webkit-scrollbar {
    width: 0em;
}
  
.sidebar::-webkit-scrollbar-track {
    background: #ffffff00;
    box-shadow: inset 0 0 6px #ffffff00;
}

.sidebar::-webkit-scrollbar-thumb {
    background-color: #ffffff00;
    border-radius: 0em;
}

.sidebar .sidebar-header {
    padding: 10px;
    overflow: hidden;
}

.sidebar .sidebar-header .user-pic {
    float: left;
    width: 60px;
    padding: 2px;
    margin-right: 15px;
}

.sidebar .sidebar-header .user-pic img {
    border-radius: 8px;
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.sidebar .sidebar-header .user-info {
    color: #fffafa;
    float: left;
}

.sidebar .sidebar-header .user-info > h1 {
    display: block;
    font-size: 15px;
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis; 
}

.sidebar .sidebar-header .user-info .user-id {
    font-size: 11px;
    color: rgb(129, 129, 129);
    font-weight: 500;
}

.sidebar .Cta {
    margin-top: 10px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #edf0f1;
    text-decoration: none;
    padding: 9px 25px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.sidebar .Cta:hover {
    margin-left: 10px;
}

.sidebar .Cta i {
    margin-right: 5px;
}

.sidebar .Cta i.selected {
    color: #A020F0;
}

.sidebar .Cta#cta-invite {
    padding: 9px 17px;
}

.sidebar .Cta#cta-invite:hover i {
    color: #A020F0;
}

.sidebar .select-guild-wrapper {
    position: relative;
    user-select: none;
    width: 100%;
}

.sidebar .select-guild-wrapper .select-guild {
    position: relative;
    display: flex;
    flex-direction: column;
    border-width: 0 0 0 0;
    border-style: solid;
}

.sidebar .select-guild-wrapper .select-guild.open {
    background-color: #ffffff30;
}

.sidebar .select-guild-wrapper .select-guild.open div {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}

.sidebar .select-guild-wrapper .select-guild .select-guild-options {
    position: absolute;
    display: block;
    top: 100%;
    left: 0;
    right: 0;
    transition: all 0.5s;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 12;
    max-height: 200px;
    overflow-y: scroll;
    background-color: #151516;
    padding: 5px;
    border-radius: 5px;
}

.sidebar .select-guild-wrapper .select-guild .select-guild-options::-webkit-scrollbar {
    width: 0em;
}
  
.sidebar .select-guild-wrapper .select-guild .select-guild-options::-webkit-scrollbar-track {
    background: #ffffff00;
    box-shadow: inset 0 0 6px #ffffff00;
}

.sidebar .select-guild-wrapper .select-guild .select-guild-options::-webkit-scrollbar-thumb {
    background-color: #ffffff00;
    border-radius: 0em;
}

.sidebar .select-guild-wrapper .select-guild .guild-card {
    color: #ffffff;
    width: 100%;
    margin: auto;
    display: flex;
    border-radius: 5px;
    cursor: pointer;
    vertical-align: middle;
}

.sidebar .select-guild-wrapper .select-guild .select-guild-options .guild-card:hover {
    background-color: #ffffff30;
}

.sidebar .select-guild-wrapper .select-guild .select-guild-options .guild-card.selected {
    background-color: #ffffff30;
    color: #A020F0;
}

.sidebar .select-guild-wrapper .select-guild .select-guild-options .guild-card img {
    width: 30px;
    height: 30px;
    margin-left: 10px;
    margin-top: 4px;
    margin-bottom: 4px;
    border-radius: 50%;
}

.sidebar .select-guild-wrapper .select-guild .select-guild-options .guild-card span {
    font-size: 13px;
    margin-left: 20px;
    margin-top: 10px;
    font-weight: 700;
    display: flex;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}