@import "theme.module";

@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--luny-background);
    transition: all 0.5s ease;
    z-index: 100;
    border-right: 1px solid themed('luny-ui', 15);

    header {
        position: relative;

        .container {
            display: flex;
            align-items: center;

            .profile {
                display: flex;
                align-items: center;
                width: 100%;
                border-radius: 6px;
                padding: 5px;
                border: 1px solid transparent;
                cursor: pointer;
                -webkit-touch-callout: none;
                -webkit-user-select: none;
                -khtml-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;

                &:hover {
                    background-color: themed('luny-ui', 15);
                }

                &[data-opened] {
                    padding: 4px -1px;
                    background-color: themed('luny-ui', 5);
                    border-color: themed('luny-band')
                }

                .image {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    min-width: 60px;

                    img {
                        width: 50px;
                        border-radius: 15px;
                    }

                    div {
                        text-align: center;
                        border-radius: 100%;
                        width: 50px;
                        height: 50px;
                        background-color: themed('luny-band', 80);
                        overflow: hidden;
                        text-overflow: ellipsis;
                        line-height: 50px;
                        color: themed('luny-text');
                    }
                }

                .text {
                    display: flex;
                    flex-direction: column;
                    max-width: 100%;
                    white-space: nowrap;
                    pointer-events: none;
                    margin-left: 10px;
                    color: themed('luny-text', 60);

                    .name {
                        margin-top: 2px;
                        font-size: 14px;
                        font-weight: 600;
                    }

                    .id {
                        font-size: 10px;
                        margin-top: -2px;
                        display: block;
                    }

                    .name,
                    .id {
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
            }

            section.serversMenuWrapper {
                display: none;
                position: absolute;
                float: left;
                top: 65px;
                background-color: var(--luny-backgroundSecondary);
                border: 1px solid themed('luny-ui', 15);
                border-radius: 10px;
                padding: 0;
                width: 100%;
                z-index: 1000;
                box-shadow: 0 0.25rem 0.5rem themed('luny-ui', 5);
                max-height: 300px;
                -webkit-touch-callout: none;
                -webkit-user-select: none;
                -khtml-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
    
                .serversMenu {
                    border-radius: 8px;
                    width: 100%;
                    max-height: 298px;
                    overflow-y: auto;
                    padding: 0 5px;
    
                    hr {
                        margin: 0;
                        border: none;
                        border-bottom: 1px solid themed('luny-ui', 15);
                    }
    
                    li {
                        margin-top: 5px;
                        margin-bottom: 5px;
                        border-radius: 6px;
                        max-width: 110%;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        cursor: pointer;
    
                        .server {
                            width: 110%;
                            list-style: none;
                            height: 100%;
                            background-color: transparent;
                            display: flex;
                            align-items: center;
                            height: 100%;
                            width: 100%;
                            border-radius: 6px;
                            text-decoration: none;
                            transition: all 0.3s ease;
                            padding: 8px;
    
                            .image {
                                position: relative;
                                left: 2.5px;
    
                                div {
                                    color: white;
                                    text-align: center;
                                    border-radius: 100%;
                                    width: 36px;
                                    height: 36px;
                                    background-color: themed('luny-band', 80);
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    line-height: 36px;
                                }
                                
                                img {
                                    border-radius: 50%;
                                    width: 36px;
                                    height: 36px;
                                }
                            }
    
                            .name {
                                font-size: 13px;
                                font-weight: 500;
                                white-space: nowrap;
                                opacity: 1;
                                margin-left: 10px;
                                color: themed('luny-text', 60);
                            }
                        }

                        &[data-selected] {
                            background-color: themed('luny-ui', 5); 
                        }
    
                        &.invite {
                            background-color: themed('luny-band', 15);
                        }
    
                        &:hover {
                            background-color: themed('luny-ui', 15);
                        }
                    }
    
                    &::-webkit-scrollbar-track {
                        background: transparent;
                        height: calc(100% - 10px);
                        margin-top: 5px;
                        margin-bottom: 5px;
                    }
                }
    
                &[data-opened] {
                    display: block;
    
                    .serversMenu {
                        background-color: themed('luny-ui', 15)
                    }
                }
            }
        }
    }

    .links {
        margin-top: 5px;
        padding: 10px 0;
        overflow: auto;
        height: auto;
        flex-direction: column;
        justify-content: space-between;
        overflow-y: scroll;

        li {
            height: 50px;
            list-style: none;
            display: flex;
            align-items: center;

            &[data-selected] a {
                background-color: themed('luny-ui', 5);

                i {
                    color: themed('luny-band', 60);
                }
            }

            span {
                color: themed('luny-text', 60);
                font-size: 17px;
                font-weight: 500;
                white-space: nowrap;
                opacity: 1;
                transition: all 0.3s ease;
            }
            
            a {
                transition: all 0.3s ease;
                list-style: none;
                height: 100%;
                background-color: transparent;
                display: flex;
                align-items: center;
                height: 100%;
                width: 100%;
                border-radius: 6px;
                text-decoration: none;
    
                &:hover {
                    background-color: themed('luny-band');
                }

                i {
                    color: themed('luny-text', 60);
                    min-width: 60px;
                    border-radius: 6px;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 20px;
                    transition: all 0.3s ease;
                }

                &:hover {
                    i,
                    span {
                        color: themed('luny-flow')
                    }
                }
            }
        }
        
        & {
            overflow-y: scroll;
        }
        
        &::-webkit-scrollbar {
            display: none;
        }
    }
}

.content {
    position: absolute;
    top: 0;
    left: 250px;
    height: 100vh;
    width: calc(100% - 250px);
    background-color: var(var(--luny-colors-background));
    transition: var(--tran-05);
    padding: 12px 60px;
}

.content main {
    margin-top: 25px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    background-position: center;
    background-size: cover;
}

@media screen and (max-width: 1024px) {
    .sidebar {
        display: none;
    }

    .content {
        width: 100%;
        left: 0;
        padding: 16px;
    }
}

// @media screen and (min-width: 1750px) {
//     .sidebar {
//         width: 350px;
//     }

//     .content {
//         width: calc(100% - 350px);
//         left: 350px;
//     }

//     .content main {
//         margin-left: auto;
//         margin-right: auto;
//         width: 80%;
//     }
// }