* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: linear-gradient(90deg,var(--luny-colors-background) 21px,transparent 1%) 50%,linear-gradient(var(--luny-colors-background) 21px,transparent 1%) 50%, #333;

    background-size: 22px 22px;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 5px;
}
        
::-webkit-scrollbar-track {
    background: var(--luny-colors-flow-80);
    box-shadow: inset 0 0 6px var(--luny-colors-flow-20);
}

::-webkit-scrollbar-thumb {
    background-color: var(--luny-colors-band-100);
    border-radius: 0.5em;
}

a {
    text-decoration: none;
}

/* .background-gradient {
    left: 50%;
    transform: translateX(-50%);
    background: radial-gradient(at 71% 77%,var(--luny-colors-gradient) 0,transparent 21%),
        radial-gradient(at 36% 47%,var(--luny-colors-gradient) 0,transparent 50%),
        radial-gradient(at 54% 29%,var(--luny-colors-gradient) 0,transparent 28%),
        radial-gradient(at 45% 51%,var(--luny-colors-gradient) 0,transparent 53%),
        radial-gradient(at 73% 44%,var(--luny-colors-gradient) 0,transparent 54%),
        radial-gradient(at 24% 7%,var(--luny-colors-gradient) 0,transparent 40%),
        radial-gradient(at 76% 46%,var(--luny-colors-gradient) 0,transparent 50%);
    max-height: 800px;
    height: 80vh;
    max-width: 1400px;
    width: 100%;
    filter: blur(44px);
    z-index: -1;
    opacity: 25%;
    position: fixed;
} */