@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--luny-colors-background);
    background-image: linear-gradient(180deg, var(--luny-colors-band-15) 5%, var(--luny-colors-background) 20%);
    background-size: 100% 100%;
    height: 100vh;
    /* font-family: cursive; */
    /* font-family: "Whitney", "Roboto", cursive, Arial, sans-serif; */
}

body::-webkit-scrollbar {
    width: 5px;
}
        
body::-webkit-scrollbar-track {
    background: #16131B;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--luny-colors-band-100);
    /*outline: 1px solid slategrey;*/
    border-radius: 0.5em;
}

a {
    text-decoration: none;
}