@import '../../../styles/theme.module.scss';

.container {
    display: inline-block;
    width: auto;
    padding: 2px;

    .innerContainer {
        display: inline-block;
        width: auto;
        padding-right: 2px;

        input[type='number'] {
            width: 30px;
            display: inline-block;
            border: none;
            padding-left: 5%;
            text-align: right;
            background-color: transparent;
            margin-right: 5px;
            &::placeholder,
            & {
                color: themed('luny-text', 100); 
            }

            &::-webkit-inner-spin-button {
                -webkit-appearance: none;
            }

            &[readonly] {
                cursor: not-allowed;
            }
        }

        .label {
            display: inline-block;
            color: themed('luny-text', 60);
        }
    }
}